


    <section class="forms">
      <div class="container-fluid">

          <!-- Form Elements -->
          <div class="col-lg-12">
            <div class="card">
              <div class="card-close">
                <div class="dropdown">
                  <button type="button" id="closeCard5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                  <div aria-labelledby="closeCard5" class="dropdown-menu dropdown-menu-right has-shadow"></div>
                </div>
              </div>
              <div class="card-header d-flex align-items-center">
                <h3 class="h4">Nouveau utilisateur</h3>
              </div>
              <div class="card-body">
                <form class="form-horizontal"  #imageForm= "ngForm">

                  <div class= "row">

                  <div  class= "col-8">
                      <div class="form-group-material ">
                        <input id="nom" type="text" [(ngModel)]= "addUserData.Nom" name="nom" required class="input-material">
                        <label for="nom" class="label-material">Nom</label>
                      </div>


                    <div class="form-group-material ">
                      <input id="prenom" type="text" [(ngModel)]= "addUserData.prenom" name="prenom" required class="input-material">
                      <label for="prenom" class="label-material">Prénom</label>
                    </div>

                  <div class="form-group-material">
                    <input id="adresse" type="text" [(ngModel)]= "addUserData.adresse" name="adresse" required class="input-material">
                    <label for="adresse" class="label-material">Adresse</label>
                  </div>
                  <div class="form-group-material">
                      <input id="telephone" type="number" [(ngModel)]= "addUserData.telephone" name="telephone" required class="input-material">
                      <label for="telephone" class="label-material">Numéro téléphone</label>
                    </div>
                    <div class="form-group-material">
                        <input id="email" type="email"  name="email" required class="input-material">
                        <label for="email" class="label-material">Adresse email</label>
                    </div>
                    <div class="form-group-material">
                        <input id="username" type="text"  [(ngModel)]= "addUserData.username"  name="username" required class="input-material">
                        <label for="username" class="label-material">Nom d'utilisateur</label>
                    </div>
                    <div class="form-group-material">
                        <input id="plainPassword" type="password" [(ngModel)]= "addUserData.plainPassword" name="plainPassword" required class="input-material">
                        <label for="plainPassword" class="label-material">Mot de passe</label>
                    </div>
            </div>
            <div class= "col-4">
                <div class="form-group">
                    <img [src]="imageUrl" class="tof" >
                    <input   (change)="handleFileInput($event.target.files)" #image accept="images/*" [(ngModel)]= "addUserData.imageFile" name="imageFile" type="file" class=" rounded-0" required>
                </div>
            </div>
          </div>
                  <div class="line"></div>
                  <div class="form-group row">
                    <div class="col-sm-4 offset-sm-3">
                      <button type="submit" class="btn btn-secondary">Cancel</button>
                      <button (click)="addUser()"  class="btn btn-primary" type="submit" >Save</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
        </div>
      </div>
    </section>
