<div class="container-fluid mt-3">
    <div class="userf">
        <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-heading">Nouveau prestataire</div>
                <div class="panel-body">
                  <form #imageForm= "ngForm">
                      <div class="form-group">
                          <label  class="control-label">Numero compte</label>
                          <input [(ngModel)]= "depotData.comptb" name="comptb" type="number"  class="form-control rounded-0" required >
                      </div>
                      <div class="form-group">
                          <label  class="control-label">Montant (FCFA)</label>
                          <input [(ngModel)]= "depotData.montant" name="montant" type="number"  class="form-control rounded-0" required >
                      </div>
                          <div class="row">
                            <div class="col-2">
                            <button class="subbutton" (click)="depot()"  class="btn btn-success" type="submit" >Enregistrer</button>
                            </div>
                            <div class="col-2">
                            <button class="anbutton" (click)="annuler()"  class="btn btn-danger" type="submit" >Annuler</button>
                            </div>
                            <div class="col-8"></div>
                          </div>

                  </form>
              </div>
          </div>
        </div>
      <div class="col-md-2"></div>
</div>
</div>
