<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
  
      <header class="main-header">
        <!-- Logo -->
        <a href="" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>S</b>T</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>SONATEL</b>TRANFERT</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                  <span class="hidden-xs">Sonatel</span>
                </a>
              </li>
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                    </button>
                  </span>
            </div>
          </form>
          <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Partenaires</li>
            <li class="treeview">
              <a >
                <i class="fa fa-edit"></i> <span>Nouveau enregistrement</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a routerLink="/addPartenaire"><i class="fa fa-circle-o"></i>Prestataire</a></li>
                <li><a routerLink="/adduser"><i class="fa fa-circle-o"></i>Utisateur</a></li>
                <li><a routerLink="/depot"><i class="fa fa-circle-o"></i>Dépôt</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-table"></i> <span>Listes</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a routerLink="/Entreprise"><i class="fa fa-circle-o"></i>Partenaires</a></li>
                <li><a routerLink="/depot"><i class="fa fa-circle-o"></i>Dépôts</a></li>
              </ul>
            </li>
            <li><a href=""><i class="fa fa-table"></i> <span>Listes des commissions</span></a></li>
            <li class="header">Les Transactions</li>
            <li class="treeview">
                <a href="#">
                  <i class="fa fa-table"></i> <span>Listes des transactions</span>
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu">
                  <li><a href=""><i class="fa fa-circle-o"></i>Envoies</a></li>
                  <li><a href=""><i class="fa fa-circle-o"></i>Retraîts</a></li>
                </ul>
              </li>
            
          </ul>
        </section>
      </aside>
      <div class="content-wrapper">
        <section class="content-header">
            <router-outlet></router-outlet>
        </section>
       
       </div>
    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Sonatel</b>
      </div>
      <strong>Copyright &copy; 2019 <a lin>SONATEL TRANSFERT</a>.</strong> All rights
      reserved.
    </footer>
    <aside class="control-sidebar control-sidebar-dark" style="display: none;">
      <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
        <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
      </ul>

    </aside>
    <div class="control-sidebar-bg"></div>
    </div>

</body>


